@{
    ViewData["Title"] = "Escola";
}
<h1>@ViewData["Title"]</h1>

<p>Bem-Vindos á administração da Escola Raio de Sol<p>
<p>Onde nossas crianças são ensinadas a serem protagonistas</p>
<p>e incentiadas a brilharem, fazendo a diferença aonde quer que estejam.</p>
<p></p>
<p></p>
<p></p>
<p> Esta Plataforma foi feita especificamente para o cadastro de novo alunos, Professores e Colaboradores,<p>
